*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgb(179,1,197);
  background: linear-gradient(210deg, rgba(179,1,197,1) 0%, rgba(58,1,68,1) 61%);
  }
  
  .user-card {
    width: 350px;
    height: 500px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    overflow: hidden;
    position: relative;
    color: #fff;
  
  }
  
  .card-top{
    background: #24203B;
    height: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    align-items: center;
  
  }
  .pro {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #FFBF0A;
    color: #000;
    border-radius: 5px;
    padding: 2px 7px;
    font-size: 14px;
  
  }
  
  .img-con {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* width: 150px;
    height: 150px; */
    border-radius: 50%;
    overflow: hidden;
    outline: 2px solid #C400D6;
    outline-offset: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
  
  
  }
  .img-con img {
    width: 100%;
    height: 100%;
  
    transition: all 0.3s ease;
  }
  
  .name {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
  
  }
  .email {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 5px;
  
  }
  
  
  .btn,.btn-outline {
    border: none;
    outline: none;
    padding: 6px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
    transition: all 0.3s ease;
    display: inline;
  
  }
  .btn {
    background: #C400D6;
    color: #fff;
  
  }
  .btn-outline {
    background: transparent;
    border: 2px solid #C400D6;
    color: #C400D6;
    margin-left: 10px;
  }
  
  
  
  
  
  
  
  .card-bottom {
    
    background: #1F1B36;
    height: 30%;
  }
  
  .card-bottom h2 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* margin-top: 20px; */
  margin-left: 20px;
    padding:  10px;
  }
  .card-bottom .adress {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-left: 20px;
    padding:  10px;
  }
  
  .btn.random {
   margin-top: 20px;
    background: #C400D6;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #C400D6;
    outline: none;
  }