* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(40deg, #4158D0 0%, #C850C0aa 46%, #FFCC70aa 100%),url(./img/owl-50267_640.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: left;
}

#i1 {
    /* width ve height değerlerini değiştiriniz lütfen */
    background-image: url(./img/lion-3012515_640.jpg);
    /* border: 3px solid red; */
    /* width: 50%;     
    /* height: 50%; */
    height: 50vh;
    /* height: 100vh; */
    background-position: top right;
    margin-top: 80px;
    background-repeat: repeat-y;
}

#i2 {
    margin-top: 50px;
    
}











