


table,th,td {
    border: 5px solid rgb(120, 8, 101);
    border-collapse: collapse;
    text-align: center;
    padding: 20px;
}

 table {
    width: 100%;
    margin-top: 150px;
} 


th:nth-child(3) {
    background-color: blueviolet;
}

td:nth-child(3) {
    background-color: rgb(95, 130, 103);
}

tr:nth-child(3)  {
    color: aqua;
}

tr:nth-child(4) td:nth-child(5) {
    background-color: black;
}


tr:nth-child(3) td:nth-child(3) {
    color: magenta;
}

tr:nth-child(5) td:nth-child(7) {
    background-color: rgb(191, 96, 113);
    color: rgb(76, 104, 20);
}

tr:nth-child(5) td:nth-child(4) {
    background-color: coral;
}

tr:nth-child(4) td:nth-child(4) {
    padding: 1px;
    /* transition: 3s; */
}
tr:nth-child(4) td:nth-child(4):hover {
    background-color: blueviolet;
    /* transition: 3s; */
}

tr:nth-child(4) td:nth-child(4)::after {
    content: "🎂"; 
}


tr:nth-child(4) td:nth-child(4)::before {
    content: "🎂";
}



tr:nth-child(2) td:nth-child(5)::after {
    content: "❤";
    color: red;
    font-size: 20px;
}

tr:nth-child(2) td:nth-child(5):hover {
    transform: scale(1.5);
    background-color: orange;
    color: greenyellow;
}

tr:nth-child(5) td i {
    color: blueviolet;
    margin: 3px;
    font-size: 30px;
} */

ul {
    list-style-type: none;
}



ul.first-ul li:nth-child(3) ul li:nth-child(4)::after {
    content: "👍";
}


.fa-house-user {
    margin: 10px;
    color: aqua;
    font-size: 80px;
}